'.source.js':
  'New Map':
    'prefix': 'map'
    'body': '${1:map} = new Map("${2:MapDiv}", {\n\tbasemap: "${3:topo}", \n\tcenter: [${5:-122.45}, ${6:37.75}], // longitude, latitude \n\t zoom: ${4:13}\n\t}\n ${7:}'

  'Home Button':
    'prefix': 'homeb'
    'body': 'var ${1:home} = new HomeButton({\n\tmap: map\n\t}, "HomeButton");\n\t${1:home}.startup();\n${2:}'

  'Overview Map':
    'prefix': 'overview'
    'body': 'var ${1:overviewMapDijit} = new OverviewMap({\n\tmap: ${2:map},\n\tvisible: true\n\t});\n\t${1:overviewMapDijit}.startup();\n ${3:}'

  'Require':
    'prefix': 'require'
    'body': 'require([\n${1:}\n],function(${2:}){\n${3:}\n});'

  'Legend':
    'prefix': 'legend'
    'body': 'var ${1:legend} = new Legend({\n\tmap: ${2:map}\n\tautoUpdate: true\n}, "${3:legendDiv}");\n${1:legend}.startup();\n${4:}'


  'Print Dijit':
    'prefix': 'printer'
    'body': 'var ${1:printer} = new Print({\n\tmap: ${2:map},\n\turl: "${3:http://sampleserver6.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task}"\n}, dom.byId("${4:printButton}"));\n${5:}'

  'Scalebar':
    'prefix': 'scalebar'
    'body': 'var ${1:scalebar} = new Scalebar({\n\tmap: ${2:map},\n\tattachTo: "${3:top-right}",  //Valid options are "top-right","bottom-right","top-center","bottom-center","bottom-left","top-left". The default value is "bottom-left".\n\tscalebarStyle: "${4:ruler}", //Line may be used as well.\n\tscalebarUnit: "${5:english}" //Metric or dual may be used.\n\t});\n${6:}'

  'Draw Toolbar':
    'prefix': 'drawToolbar'
    'body': 'var ${1:toolbar} = new Draw(${2:map}, {\n\ttooltipOffset: ${3:20},\n\tdrawTime: ${4:90},\n\tshowTooltips: ${5:true},\n\ttolerance: ${6:8}\n\t});\n${7:}'

  'Navigation Toolbar':
    'prefix': 'navToolbar'
    'body': 'var ${1:navToolbar} = new Navigation(${2:map});\n${3:}'
